Shapely==1.8.4
# scikit-image==0.17.2
scikit-image
imgaug==0.4.0
pyclipper==1.3.0.post3
lmdb==1.3.0
tqdm==4.62.3
numpy==1.23.2
visualdl==2.3.0
rapidfuzz==2.6.0
opencv-contrib-python==4.4.0.46
cython==0.29.32
lxml==4.6.3
premailer==3.10.0
openpyxl==3.0.9
attrdict==2.0.1
onnx==1.12.0
onnxruntime==1.10.0
cydifflib==1.0.1
unidecode==1.3.4
paddlepaddle==2.3.2 
annoy==1.17.1
importlib-metadata==4.8.3
tensorflow-text==2.8.2
flask==2.0.3
requests==2.27.1